.example-full-width {
  width: 100%;

}
.example-width {
  width: 360px;
  height:80px;
  margin-right: 20px;
  margin-left: 35px;
}
.example-width-a{
  width: 60px;
  height:80px;


}
.example-form {

  width: 100%;
}
