
<section id="page-header">
  <h2>#SanPham</h2>
  <p>Giảm giá tới 70%!</p>
</section>

<section id="product1" class="section-p1">
  <div class="pro-container">
    <div class="pro" *ngFor="let product of Product | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
      <img [src]="'assets/products/' + product.productImage">
      <div class="des">
        <span>{{ getTenDanhMuc(product.categoryId) }}</span>
        <h5>{{ product.productName }}</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>{{product.productPrice | currency:'VND'}}</h4>
      </div>
      <a><i class="fal fa-shopping-cart cart"></i></a>
    </div>
  </div>
  <div class="section-m1">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</section>



