<div class="header-container">
  <h1>NGƯỜI DÙNG</h1>
  <div class="addbtn">
    <button mat-fab color="primary" [routerLink]="'them-nguoi-dung'" routerLinkActive="active">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="stt">
      <th mat-header-cell *matHeaderCellDef>STT</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>


    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> UserName </th>
      <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>


    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>


     <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Số Điện Thoại </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="avartar">
      <th mat-header-cell *matHeaderCellDef> Hình Ảnh </th>
      <td mat-cell *matCellDef="let element">
        <img style="max-height: 100px; border-radius: 100px;" [src]="'assets/' + element.avartar" alt="Hình ảnh của {{ element.fullName }}">

      </ng-container>
    <ng-container matColumnDef="dateCreated">
      <th mat-header-cell *matHeaderCellDef> Ngày Tạo </th>
      <td mat-cell *matCellDef="let element"> {{element.dateCreated| date:'yyyy-MM-dd HH:mm:ss'}} </td>
    </ng-container>

    <ng-container matColumnDef="dateUpdated">
      <th mat-header-cell *matHeaderCellDef> Ngày Cập Nhật </th>
      <td mat-cell *matCellDef="let element"> {{element.dateUpdated| date:'yyyy-MM-dd HH:mm:ss'}} </td>
    </ng-container>


    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> # </th>
      <td mat-cell *matCellDef="let element" class="action-buttons" style="text-align: center;">
        <button mat-fab color="primary" [routerLink]="['thong-tin-nguoi-dung', element.userId]">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-fab color="warn" (click)="deleteItem(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[8, 16, 24]" showFirstLastButtons>
  </mat-paginator>
</div>


