.table {
  width: 100%;
}

.action-buttons button {
  margin-right: 5px;
  transform: scale(0.8);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.addbtn {

  margin-left: auto;
}
