<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
      <h4>Đăng kí để nhận thêm thông tin</h4>
      <p>Đăng kí tài khoản để nhận thêm nhiều thông tin và giá <span>ưu đãi hơn!</span></p>
  </div>
  <div class="form">
      <input type="text" placeholder="Nhập Email của bạn">
      <button class="normal">Đăng nhập</button>
  </div>
</section>
<footer class="section-p1">
  <div class="col">
    <img class="logo" src="/assets/logoVPP.png" style="width: 200px;">
    <h4>Liên hệ</h4>
    <p><strong>Địa chỉ:</strong> Vân điềm, Vân Hà - Đông Anh - Hà Nội</p>
    <p><strong>Số điện thoại:</strong> +012411414 / (+84) 2142415221</p>
    <p><strong>Giờ mở cửa:</strong> 10:00 -18:00, T2 - T7</p>
    <div class="follow">
      <h4>Theo dõi chúng tôi qua</h4>
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </div>
  <div class="col">
    <h4>Về chúng tôi</h4>
    <a >Thông tin hàng ngày</a>
    <a >Giao hàng</a>
    <a >Thông tin liên hệ</a>
  </div>
  <div class="col">
    <h4>Tài khoản</h4>
    <a>Đăng kí</a>
    <a >Giỏ hàng</a>
    <a >Sản phẩm yêu thích</a>
    <a >Ưu đãi của bạn</a>
    <a >Trợ giúp</a>
  </div>
  <div class="col install">
    <h4>Cài đặt qua app</h4>
    <p>Qua App Store hoặc Google Play</p>
    <div class="row">
        <img src="/assets/img/pay/app.jpg" alt="">
        <img src="/assets/img/pay/play.jpg">
    </div>
    <p>Thanh toán bằng</p>
    <img src="/assets/img/pay/pay.png" alt="">
  </div>


  <div class="copyright">
      <p>&#64; 2024 - Nguyễn Việt Hùng - Đồ án tốt nghiệp</p>
  </div>
</footer>
