<section id="hero">
  <h4>Trade-in-offer</h4>
  <h2>Supper value deals</h2>
  <h1>On all products</h1>
  <p>Save more with coupons & up to 70% off!</p>
  <button>Shop Now</button>
</section>

<section id="feature" class="section-p1">
  <div class="fe-box">
    <img src="/assets/img/features/f1.png" alt="">
    <h6>Miễn phí giao hàng</h6>
  </div>
  <div class="fe-box">
    <img src="/assets/img/features/f2.png" alt="">
    <h6>Đặt hàng online</h6>
  </div>
  <div class="fe-box">
    <img src="/assets/img/features/f3.png" alt="">
    <h6>Tiết kiệm chi phí</h6>
  </div>
  <div class="fe-box">
    <img src="/assets/img/features/f4.png" alt="">
    <h6>Khuyến mãi</h6>
  </div>
  <div class="fe-box">
    <img src="/assets/img/features/f6.png" alt="">
    <h6>Hỗ trợ 24/7</h6>
  </div>
</section>

<section id="product1" class="section-p1">
  <h2>Featured Products</h2>
  <p>Summer Collection New Morden Desgin</p>
  <div class="pro-container">
    <div class="pro">
      <img src="/assets/img/products/f1.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/f2.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/f3.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/f4.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/f5.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/f6.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/f7.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/f8.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
  </div>
</section>

<section id="banner" class="section-m1">
  <h4>Repair Service</h4>
  <h2>Up tos<span> 70% </span>- All t-Shirts & Accessories</h2>
  <button class="normal">Xem thêm</button>
</section>
<section id="product1" class="section-p1">
  <h2>Sản phẩm mới</h2>
  <p>Summer Collection New Morden Desgin</p>
  <div class="pro-container">
    <div class="pro">
      <img src="/assets/img/products/n1.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/n2.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/n3.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/n4.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/n5.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/n6.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/n7.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/n8.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
  </div>
</section>
<section id="sm-banner" class="section-p1">
  <div class="banner-box">
    <h4>Giảm giá sốc</h4>
    <h2>Mua 1 tặng 1</h2>
    <span>Quần áo đẹp nhất trong thời gian gần đây</span>
    <button class="white"> Xem thêm</button>
  </div>
  <div class="banner-box banner-box2">
    <h4>Quần áo cực đẹp</h4>
    <h2>Mua 1 tặng 1</h2>
    <span>Quần áo đẹp nhất trong thời gian gần đây</span>
    <button class="white">Xem thêm</button>
  </div>
</section>

<section id="banner3">
  <div class="banner-box">
    <h2>Mua 1 tặng 1</h2>
    <h3>Winter -50% OF</h3>
  </div>
  <div class="banner-box banner-box2">
    <h2>Mua 1 tặng 1</h2>
    <h3>Winter -50% OF</h3>
  </div>
  <div class="banner-box banner-box3">
    <h2>Mua 1 tặng 1</h2>
    <h3>Winter -50% OF</h3>
  </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
      <h4>Sign Up For NewsLetters</h4>
      <p>Get Email updates about our latest shop and <span>special offers.</span></p>
  </div>
  <div class="form">
      <input type="text" placeholder="Nhập Email của bạn">
      <button class="normal">Đăng nhập</button>
  </div>
</section>
