<div class="header-container">
  <h1>Thêm mới bài viết</h1>
</div>
<form [formGroup]="PostForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="ful">
    <input matInput placeholder="Tên bài viết" formControlName="postName">
    <mat-error *ngIf="PostForm.get('postName')?.hasError('required')">
      Tên bài viết không được để trống
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tác giả</mat-label>
    <mat-select formControlName="userId" placeholder="Tên tác giả">
      <ng-container *ngFor="let user of User">
        <mat-option *ngIf="user.isActive" [value]="user.userId">
          {{ user.fullName }}
        </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sử dụng</mat-label>
    <mat-select formControlName="isActive" placeholder="Chọn">
      <mat-option [value]="true">Sử dụng</mat-option>
      <mat-option [value]="false">Không sử dụng</mat-option>
    </mat-select>
  </mat-form-field>
 <mat-form-field class="add-form">
    <mat-label>Chọn tệp</mat-label>
    <input matInput placeholder="Chọn tệp" readonly [value]="PostForm.get('postImg')?.value">
    <mat-icon matSuffix (click)="fileInput.click()">attach_file</mat-icon>
    <input type="file" #fileInput style="display:none;" (change)="onFileSelected($event)">
    <img *ngIf="PostForm.get('postImg')?.value" [src]="'assets/' + PostForm.get('postImg')?.value" width="100" height="100">
  </mat-form-field>
  <mat-form-field>

    <textarea matInput placeholder="Mô tả ngắn" formControlName="sContent"></textarea>
    <mat-error *ngIf="PostForm.get('sContent')?.hasError('required')">
      Mô tả ngắn không đưuọc để trống
    </mat-error>
  </mat-form-field>


  <mat-form-field>
    <textarea matInput placeholder="Mô tả chính" formControlName="lContent"></textarea>
    <mat-error *ngIf="PostForm.get('lContent')?.hasError('required')">
      Mổ tả không được để trống
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" class="btn-them" type="submit">Thêm</button>
</form>
