<section id="page-header">
  <h2>#knowus</h2>
  <p>Save more with coupons & up to 70% off!</p>
</section>

<section id="about-head" class="section-p1">
  <img src="/assets/img/about/a6.jpg" alt="">
  <div>
    <h1>Who we are</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
      velit molestiae delectus earum, reiciendis molestias. Voluptas dolor aut ipsam?
      Praesentium non ratione qui accusamus cumque beatae voluptates
      quaerat voluptatibus deleniti eaque, corporis perspiciatis reiciendis
      dicta ad dolores enim? Atque, eligendi.
    </p>
    <abbr title="">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Excepturi harum dolore saepe asperiores veniam rem.</abbr>

    <br><br>
    <marquee bgColor="#ccc" loop="-1" scrollAmount="5" width="100%">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, ipsa.
    </marquee>
  </div>
</section>
