<section id="page-header">
  <h2>#Vechungtoi</h2>
</section>

<section id="about-head" class="section-p1">
  <img src="/assets/banner/b11.jpg" alt="">
  <div>
    <h1>Chúng tôi là</h1>
    <p>Văn phòng phẩm không chỉ là những sản phẩm cần thiết cho công việc hàng ngày mà còn là nguồn cảm hứng cho sự sáng
      tạo và tự chủ trong công việc. Chúng tôi, nhóm của các đồng nghiệp đam mê về văn phòng phẩm, tự hào mang đến cho
      khách hàng những trải nghiệm mua sắm đầy ý nghĩa và tiện lợi.

      Tại chúng tôi, không chỉ là một cửa hàng văn phòng phẩm thông thường, mà còn là một điểm đến đầy đủ các loại sản
      phẩm từ những thương hiệu uy tín trên thị trường. Chúng tôi không ngừng nỗ lực để cung cấp cho khách hàng những
      sản phẩm chất lượng nhất, từ bút, giấy, sổ tay cho đến các loại hồ sơ và dụng cụ vẽ.

      Chúng tôi hiểu rằng mỗi công việc đều đòi hỏi một bộ công cụ phù hợp để thực hiện, và với sự đa dạng của sản phẩm
      của chúng tôi, khách hàng có thể tìm thấy mọi thứ mà họ cần để hoàn thành mọi nhiệm vụ một cách hiệu quả nhất.
    </p>

    <br><br>
    <marquee bgColor="#ccc" loop="-1" scrollAmount="5" width="100%">
      Tóm lại, chúng tôi không chỉ là một cửa hàng văn phòng phẩm, mà còn là một đối tác đáng tin cậy và đồng hành đáng
      giá trong công việc của mọi người. Chúng tôi luôn sẵn lòng phục vụ và mang lại giá trị tốt nhất cho khách hàng của
      mình, bởi vì khi họ thành công, chúng tôi cũng thành công.
    </marquee>
  </div>
</section>
