<section id="prodetail" class="section-p1" *ngIf="product">
  <div class="single-pro-image">
    <img [src]="'assets/products/' + product.productImage" width="70%" id="MainImg">
  </div>
  <div class="single-pro-details">
    <h6>DANH MỤC: {{ getTenDanhMuc(product.categoryId) }}</h6>
    <h4>{{product.productName}}</h4>
    <h2>{{product.productPrice | currency:'VND'}}</h2>
    <input type="number" value="1">
    <button class="normal">Thêm vào giỏ</button>
    <mat-tab-group style="margin-top: 20px;">
      <mat-tab label="Mô tả chính">
        <div style="margin-top: 10px;">
          <span>{{product.lDescription}}</span>
        </div>
      </mat-tab>
      <mat-tab label="Mô tả ngắn">
        <div style="margin-top: 10px;">
        <span>{{product.sDescription}}</span>
      </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</section>
<section id="product1" class="section-p1">
  <h2>Sản phẩm HOT</h2>
  <p>Có thể bạn sẽ thích</p>
  <div class="pro-container">
    <div class="pro" *ngFor="let product of ProductisHot | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" [routerLink]="['san-pham/chi-tiet-san-pham', product.productId]">
      <img [src]="'assets/products/' + product.productImage" alt="">
      <div class="des">
        <span>{{ getTenDanhMuc(product.categoryId) }}</span>
        <h5>{{ product.productName }}</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>{{product.productPrice | currency:'VND'}}</h4>
      </div>
      <a><i class="fal fa-shopping-cart cart"></i></a>
    </div>
  </div>

  <div class="section-m1">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</section>
