<section id="prodetail" class="section-p1" *ngIf="product">
  <div class="single-pro-image">
    <img [src]="'assets/products/' + product.productImage" width="70%" id="MainImg">
  </div>
  <div class="single-pro-details">
    <span style="color: #088178;">Danh mục: {{ getTenDanhMuc(product.categoryId) }}</span>
    <br>
    <p>{{product.productName}}</p>
    <h3><span>{{product.productPrice | currency:'VND'}}</span></h3>

    <div *ngIf="getQuantityByWarehouse() > 0" class="section-m1">
    <input type="number" #quantityInput value="1" min="1">
    <button (click)="addToCart(+quantityInput.value)" class="normal">Thêm vào giỏ</button>
    </div>
    <p *ngIf="getQuantityByWarehouse() > 0; else soldOutMessage">Số lượng trong kho {{ getQuantityByWarehouse() }} sản phẩm</p>
    <ng-template #soldOutMessage>
      <p>Sản phẩm đã bán hết</p>
    </ng-template>
    <mat-tab-group style="margin-top: 20px;">
      <mat-tab label="Mô tả chính">
        <div style="margin-top: 10px;">
          <span>{{product.lDescription}}</span>
        </div>
      </mat-tab>
      <mat-tab label="Mô tả ngắn">
        <div style="margin-top: 10px;">
        <span>{{product.sDescription}}</span>
      </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</section>
<section id="product1" class="section-p1">
  <h2>Sản phẩm HOT</h2>
  <p>Có thể bạn sẽ thích</p>
  <div class="pro-container">
    <div class="pro" *ngFor="let product of ProductisHot | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" [routerLink]="['/trang-chu/san-pham']">
      <img [src]="'assets/products/' + product.productImage" alt="">
      <div class="des">
        <span>{{ getTenDanhMuc(product.categoryId) }}</span>
        <h5>{{ product.productName }}</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>{{product.productPrice | currency:'VND'}}</h4>
      </div>
      <a><i class="fal fa-shopping-cart cart"></i></a>
    </div>
  </div>

  <div class="section-m1">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</section>
