<section id="prodetail" class="section-p1">
  <div class="single-pro-image">
    <img src="/assets/img/products/f1.jpg" width="100%" id="MainImg">
  </div>
  <div class="single-pro-details">
    <h6>Home / T-Shirt</h6>
    <h4>Men's Fashion T Shirt</h4>
    <h2>$139.00</h2>
    <input type="number" value="1">
    <button class="normal"> Them vao gio hang</button>
    <h4>Mo ta san pham</h4>
    <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias,
      numquam quis repudiandae rem architecto, aliquam corporis quod temporibus
      sint sunt praesentium tenetur nostrum iste mollitia repellat vero magni animi culpa?</span>
  </div>
</section>
<section id="product1" class="section-p1">
  <h2>Featured Products</h2>
  <p>Summer Collection New Morden Desgin</p>
  <div class="pro-container">
    <div class="pro">
      <img src="/assets/img/products/f1.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/f2.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/f3.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
      <img src="/assets/img/products/f4.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Cartoon Astronaut T-shirts</h5>
        <div class="star">
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
          <i class="fal fa-star"></i>
        </div>
        <h4>$78</h4>
      </div>
      <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
    </div>

  </div>
</section>
