
<form [formGroup]="RoleForm" class="example-form">

  <mat-form-field class="add-form">
    <input matInput placeholder="Tên quyền" formControlName="roleName">
    <mat-error *ngIf="RoleForm.get('roleName')?.hasError('required')">
      Tên quyền không được để trống
    </mat-error>
  </mat-form-field>
  <mat-form-field class="add-form">

    <mat-select formControlName="isActive" placeholder="Chọn">
      <mat-option [value]="true">Sử dụng</mat-option>
      <mat-option [value]="false">Không sử dụng</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="add-form">

    <textarea matInput placeholder="Mô tả quyền" formControlName="roleDescription"></textarea>
    <mat-error *ngIf="RoleForm.get('roleName')?.hasError('required')">
      Mô tả không được để trống
    </mat-error>
  </mat-form-field>

  <div class="dialog-actions">
    <button mat-button (click)="closeDialog()">Đóng</button>
    <button mat-button color="primary" (click)="confirm()" >Xác nhận</button>
  </div>
</form>


