

.edit-form {
  width: 85%;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 30px;
}
mat-icon {
  cursor: pointer;
}
.dialog-actions{
text-align: right;
  margin-right: 10px;
}
.example-full-width {
  width: 700px;
}
