.example-full-width {
  width: 45%;
  margin-right: 20px;
 padding-left: 30px;
}
.btn-them{
  margin-top: 30px;
  margin-left: 32px;
}
.tab-h{
  width: 100%;

}

th.mat-sort-header-sorted {
  color: black;
}
.table {
  width: 100%;
}

.action-buttons button {
  margin-right: 5px;
  transform: scale(0.8);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.addbtn {

  margin-left: auto;
}
