<section id="page-header">
  <h2>#Giohang</h2>

</section>

<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Xóa</td>
                <td>Ảnh sản phẩm</td>
                <td>Sản phẩm</td>
                <td>Giá</td>
                <td>Số lượng</td>
                <td>Tổng tiền</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart; let i = index">
              <!-- <td>
              <button mat-fab extended >
                <mat-icon >home</mat-icon>
              </button>
             </td> -->
               <td ><a (click)="removeItem(i)" ><i class="far fa-times-circle"></i></a> </td>
              <td><img [src]="'assets/products/' + item.product.productImage" ></td>
              <td>{{ item.product.productName }}</td>
              <td>{{ item.product.productPrice | currency:'VND' }}</td>
              <td><input type="number" value="{{ item.quantity }}"></td>
              <td>{{ item.product.productPrice * item.quantity | currency:'VND'}}</td>
            </tr>

        </tbody>
    </table>
</section>
<section id="cart-add" class="section-p1" *ngIf="cart.length > 0">
    <div id="coupon">
        <h3>Chú thích đơn hàng</h3>
        <div>
            <input type="text" placeholder="Nhập nếu bạn cần lưu ý cho đơn hàng"  [(ngModel)]="orderNote">
        </div>
    </div>

    <div id="subtotal">
        <h3>Tổng đơn hàng</h3>
        <table>
            <tr>
                <td>Tổng đơn hàng</td>
                <td>{{ calculateSubtotal() | currency:'VND' }}</td>
            </tr>
            <tr>
                <td>Giá vận chuyển</td>
                <td>Miễn phí</td>
            </tr>
            <tr>
              <td>Kiểu thanh toán</td>
              <td><select [(ngModel)]="paymentType">
                  <option [value]="0">Thanh toán khi nhận hàng</option>
                  <option [value]="1">Thanh toán qua ngân hàng</option>
                </select></td>
            </tr>
            <tr>
                <td><strong>Tổng tiền</strong></td>
                <td><strong>{{ calculateSubtotal() | currency:'VND' }}</strong></td>
            </tr>
        </table>
        <button  (click)="checkout()" class="normal">Thanh toán</button>
    </div>
</section>
